@{
    ViewData["Title"] = "Personal Event Management";
}
<h1>@ViewData["Title"]</h1>

<p>you will see the tickets you've bought here.</p>
<h2>Details:</h2>
<p> Create a page to list all events with options to filter by category.</p>
<p> Include a form for adding new events with fields for:</p>
<ul>
    <li>Event title</li>
    <li>Category (e.g., webinar, concert, workshop, conference)</li>
    <li>Date and time</li>
    <li>Ticket price</li>
    <li>Available tickets</li>
</ul>

<p> Allow updating and deleting existing events <p></p>
    
    <h2>Highlights</h2>
<p>    
     Event Overview: Provide a summary page showing total events, categories, and events with low
    ticket availability (e.g., alert if available tickets < 5).
     Basic Data Entry: Enable users to add, update, and delete events.
</p>

<form>
    <fieldset>
        <legend>Add New Events</legend>
        <label  for="Title">Event Title</label>
        <input id="Title"></input>
        <br>
        <br>
        <label for="Category">Category</label>
        <select id="Category">
            <option>--Select--</option>
            <option>Webinar</option>
            <option>Concert</option>
            <option>Workshop</option>
            <option>Conference</option>
        </select>
        <br> 
        <br>
        <label for="event-date">Date and Time:</label>
        <input type ="date" id="event-date"></input>
        <input type="time" id="event-time"></input>
        <br>
        <br>
        <label for ="price">Ticket Price</label>
        <input id="price"></input>
        <br>
        <br>
        <label for="avail-tickets">Avaliable Tickets</label>
        <input id="avail-tickets"></input>        
    </fieldset>
</form>