@model Event;

@{
    ViewBag.Title = "Purchasing ";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<h3>Are you sure you want to purchase @Model.Title</h3>
<div>
    <hr/>
    <dl class="row">   
        <p> number of tickets you want to buy</p>
        
        
        
    </dl>

    
</div>