@{
    ViewData["Title"] = "Ticket Purchasing";
}

<h1>@ViewData["Title"]</h1>

<button>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="purchaseConfirm">ticket purchasing</a>
</button>
