@{
    ViewData["Title"] = "Analytics";
}

<h1 class="page-title text-center">Analytics Dashboard</h1>

<div id="charts-container">
    <div class="chart" id="chart1-container">
        <canvas id="ticketSalesByCategory"></canvas>
    </div>

    <div class="chart" id="chart2-container">
        <canvas id="monthlyRevenue"></canvas>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/analytics.js" asp-append-version="true"></script>
}