

<link rel="stylesheet" href="/css/DarkMode.css">

<!DOCTYPE html>

<html>
<head>
    <title>Analytics</title>
</head>

<body>
    <div>
       <h1> Analytics Dashboard</h1>
    </div>
</body>

</html>