<title>LOGIN</title>

<form asp-action="CreateUser" asp-controller="Login" method="post">
    <label>
        Enter your name:
        <input type="text" name="username" required>
    </label>
    <br>
    <label>
        Email Address:
        <input type="text" name="emailAddress" required/>
    </label>
    <br>
    <button type="submit" class="btn btn-primary">Create User</button>
</form>