@{
    ViewData["Title"] = "Home Page";
    ViewData["IsHomePage"] = true;
}

<section class="main-section text-center text-white">
    <div class="main-content">
        <h1>Welcome to Assignment 2</h1>
        <p>This assignment is created by Keagan, Caio and O'Neal, we do hope we get 100%</p>
        <a asp-controller="Tickets" asp-action="TicketPurchasing" class="btn btn-primary btn-lg mt-3">Get Started</a>
    </div>
</section>