@{
    ViewData["Title"] = "Home Page";
}

<section class="main-section text-center text-white">
    <div class="main-content">
        <h1>Welcome to Assignment 1</h1>
        <p>This assignment is created by Keagan, Caio and O'Neal, we do hope we get 100%</p>
        <a href="#" class="btn btn-dark btn-lg mt-3">Get Started</a>
    </div>    
</section>